extends layouts/_layout.pug

block variables
	- var activePage = 'ui-bootstrap';
	- var activeGroup = 'ui-elements';

block title
	title Data Table - Vali Admin

block content
	.app-title
		div
			h1
				i.fa.fa-th-list
				|  Data Keysearch Table
			p Table to display analytical data effectively

		ul.app-breadcrumb.breadcrumb.side
			li.breadcrumb-item
				i.fa.fa-home.fa-lg
			li.breadcrumb-item
				| Keyword Search
			li.breadcrumb-item.active
				a(href="#") Data Table

	.row
		.col-md-12
			.tile
				.tile-body
					.table-responsive
						table.table.table-hover.table-bordered#sampleTable
							thead
								tr
									th Key Search
									th Total
									
							tbody
								each val, uuid in values
									tr
										td: a(href='key-detail/'+ val[0]) #{val[0]}										
										td #{val[3]}	
																				
								

block specific-js
	// Data table plugin
	script(type='text/javascript', src="/js/plugins/jquery.dataTables.min.js")
	script(type='text/javascript', src="/js/plugins/dataTables.bootstrap.min.js")
	script(type='text/javascript').
		$('#sampleTable').DataTable();
